/* custom properties */

:root {
    --spacer: 1rem;

    --clr-neutral-100: #fff;
    --clr-neutral-400: #333;
    --clr-neutral-900: #111;
    --clr-primary-400: #3c1500;
    --clr-accent-400: #41b07b;

    --ff-primary: "Roboto", sans-serif;

    --fw-400: 400;
    --fw-700: 700;

    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;

    --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    line-height: 1.2;
}

body,
h1,
h2,
h3,
p,
li {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* utility classes */

.flow-content > * + * {
    margin-top: var(--spacer);
}

.container {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}

.split {
    display: grid;
    row-gap: calc(var(--spacer) * 3);
}

@media (min-width: 40em) {
    .split {
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--spacer);
    }
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-900);
  line-height: 1.6;
  text-align: center;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background:rgba(0, 0, 0, 0.15);
}

h1,
.h1 {
    font-size: var(--fs-600);
    color: var(--clr-neutral-400);
    letter-spacing: 0.1em;
}

h2,
.h2 {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    color: var(--clr-primary-400);
}

/* components */

.btn {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--fs-300);
    color: var(--clr-neutral-100);
    background: var(--clr-accent-400);
    box-shadow: var(--box-shadow);
    border: 0;
    padding: 0.25em 1em;
}

.header {
    padding: calc(var(--spacer) * 5) 0;
}

.header.container {
    max-width: 30em;
}

.header .title {
    text-transform: uppercase;
}

.books {
    text-align: left;
    padding: calc(var(--spacer) * 5) 0;
}

.books .split {
    grid-template-columns: auto 1fr;
    column-gap: var(--spacer);
}

.search {
    display: flex;/* justify-content: */
}

.search__input {
    flex-grow: 1;
}

.book {
    padding: var(--spacer);
    background: var(--clr-neutral-100);
    box-shadow: var(--box-shadow);
}

.book img {
    transform: translateY(-2rem);
}

.book .btn {
    border-radius: calc(var(--spacer) * 0.75);
}
